* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 15px 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}
header:before {
  content: "";
  position: absolute;
  background-image: url("../images/bg_main.jpg");
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}
header .header_logo {
  flex: 0 0 200px;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
header .header_logo img {
  max-width: 100%;
  display: block;
}
header .navbar {
  list-style-type: none;
  position: relative;
  z-index: 4;
}
header .navbar_item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #262323;
  mix-blend-mode: normal;
  opacity: 0.3;
  text-decoration: none;
  margin-right: 50px;
}
header .navbar_item:hover {
  color: #40A3F8;
  opacity: 1;
}
header .navbar_item_btn {
  background-color: #40A3F8;
  border-radius: 8px;
  padding: 15px 28px;
  opacity: 1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14.997px;
  line-height: 22px;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 0;
}
header .navbar_item_btn:hover {
  background-color: #FFFFFF;
  transition: 0.5s;
}

.banner {
  background-image: url("../images/bg_main.jpg");
  background-size: cover;
  padding-top: 150px;
}
.banner .banner_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner .banner_flex .flex_body h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 70px;
  color: #3E3E3E;
  margin-bottom: 30px;
}
.banner .banner_flex .flex_body h1 span {
  color: #40A3F8;
}
.banner .banner_flex .flex_body p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: rgba(117, 117, 117, 0.46);
  margin-bottom: 50px;
}
.banner .banner_flex .flex_body .form_wrapper {
  padding: 13px;
  background: #FFFFFF;
  box-shadow: 0 4px 22px rgba(228, 245, 252, 0.3);
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.banner .banner_flex .flex_body .form_wrapper .form_search {
  background: rgba(245, 246, 250, 0.52);
  border-radius: 8px;
  border-style: none;
  outline: none;
  padding: 16px 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 18px;
}
.banner .banner_flex .flex_body .form_wrapper .select_local {
  display: flex;
  padding: 17px 28px;
  background: rgba(245, 246, 250, 0.52);
  border-radius: 8px;
  margin-right: 31px;
}
.banner .banner_flex .flex_body .form_wrapper .select_local img {
  margin-right: 8px;
}
.banner .banner_flex .flex_body .form_wrapper .form_city {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #3D3D3F;
  border-style: none;
  border-radius: 8px;
  box-shadow: none;
  outline: none;
  background: rgba(245, 246, 250, 0.52);
}
.banner .banner_flex .flex_body .form_wrapper .form_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #40A3F8;
  border-radius: 8px;
  padding: 12px 17px;
  border-style: none;
}
.banner .banner_flex .flex_body .form_wrapper .form_btn img {
  max-width: 25px;
}
.banner .banner_flex .img_wrapper {
  max-width: 500px;
  min-width: 280px;
}
.banner .banner_flex .img_wrapper img {
  width: 100%;
  display: block;
}

.steps {
  background-color: rgba(205, 233, 255, 0.3);
  padding-top: 75px;
}
.steps h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  text-align: center;
  color: #3E3E3E;
  margin-bottom: 50px;
}
.steps_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.steps_flex .steps_item {
  max-width: 295px;
}
.steps_flex .steps_item .steps_img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAEBF3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}
.steps_flex .steps_item .steps_pink {
  background-color: #F7EEDA;
}
.steps_flex .steps_item .steps_sky {
  background-color: #C0E1F9;
}
.steps_flex .steps_item h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #3D3D3F;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 18px;
}
.steps_flex .steps_item p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 80px;
}
.steps .steps_doctor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.steps .steps_doctor .doctor_img {
  max-width: 550px;
  min-width: 280px;
  margin-bottom: 20px;
}
.steps .steps_doctor .doctor_img img {
  width: 100%;
  display: block;
}
.steps .steps_doctor .doctor_descr {
  max-width: 510px;
}
.steps .steps_doctor .doctor_descr p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
}
.steps .steps_doctor .doctor_descr ul {
  list-style: none;
}
.steps .steps_doctor .doctor_descr ul li {
  background: url("../icon/check_blue.svg") 0 4px no-repeat;
  padding-left: 36px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
  color: #3D3D3F;
}
.steps .steps_doctor .doctor_descr ul li:last-child {
  margin-bottom: 24px;
}
.steps .steps_doctor .doctor_descr .doctor_btn {
  background: #40A3F8;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 10px 19px 10px 19px;
}
.steps .steps_doctor .doctor_descr .doctor_btn:after {
  content: "\f061";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 700;
  margin-left: 10px;
}

.service {
  padding: 140px 0 120px;
  background-color: rgba(205, 233, 255, 0.3);
}
.service h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  text-align: center;
  margin-bottom: 47px;
}
.service_subhead {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin-bottom: 75px;
}
.service .service_row {
  display: flex;
  position: relative;
  padding-bottom: 94px;
}
.service .service_row .service_item {
  background-color: rgba(254, 254, 254, 0.51);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 60px 60px 31px 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.service .service_row .service_item:hover {
  background-color: #FFFFFF;
  box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
  transition: 0.4s;
}
.service .service_row .service_item::before {
  content: "";
  display: block;
  transition: height 0.4s linear;
  background: #40A3F8;
  box-shadow: 0 4px 120px rgba(0, 0, 0, 0.05);
  border-radius: 0 0 10px 10px;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
}
.service .service_row .service_item:hover::before {
  height: 18px;
}
.service .service_row .service_item .service_icon {
  max-height: 70px;
  margin: 0 auto 19px;
}
.service .service_row .service_item .service_icon img {
  height: 100%;
}
.service .service_row .service_item h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #3D3D3F;
  margin-bottom: 23px;
}
.service .service_row .service_item p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
}
.service .service_row .owl-nav {
  display: none;
}
.service .service_row .owl-dots {
  display: inline-block;
  min-width: 250px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.service .service_row .owl-dots .owl-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #DBE8EE;
  margin-right: 15px;
}
.service .service_row .owl-dots .owl-dot.active {
  width: 60px;
  height: 20px;
  background: #40A3F8;
  border-radius: 7px;
  transition: 0.5s;
}

.doctors {
  padding: 60px 0;
  background-color: rgba(205, 233, 255, 0.3);
}
.doctors h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #3D3D3F;
  position: relative;
}
.doctors h2:before {
  content: "";
  width: 80px;
  height: 5px;
  background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
}
.doctors_subhead {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  max-width: 514px;
  margin: 47px auto 67px;
}
.doctors_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.doctors_items .doctors_item {
  background: linear-gradient(138.88deg, rgba(254, 254, 254, 0) -2.44%, #F9F9F9 -2.43%, rgba(254, 254, 254, 0.51) 98.26%);
  border: 1px solid #EEEFF1;
  filter: drop-shadow(0px 4px 120px rgba(0, 0, 0, 0.05));
  border-radius: 10px;
  padding: 10px 10px 27px 10px;
}
.doctors_items .doctors_item .doctors_img {
  max-width: 240px;
}
.doctors_items .doctors_item .doctors_img img {
  width: 100%;
  display: block;
}
.doctors_items .doctors_item h4 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #3D3D3F;
  margin-top: 18px;
}
.doctors_items .doctors_item p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #999999;
  margin-bottom: 17px;
}
.doctors_items .doctors_item .doctors_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.doctors_items .doctors_item .doctors_icons .icons_item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4D77CF;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
  text-decoration: none;
}
.doctors_items .doctors_item .doctors_icons .icons_item:nth-child(2) {
  background-color: #1DA1F2;
}
.doctors_items .doctors_item .doctors_icons .icons_item:last-child {
  background-color: #0077B5;
  margin-right: 0;
}
.doctors .doctors_wrap_btn {
  max-width: 195px;
  margin: 60px auto 0;
}
.doctors .doctors_wrap_btn .doctors_btn {
  background: #40A3F8;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 12px 21px;
}

.mobile {
  background-color: rgba(205, 233, 255, 0.3);
  padding: 50px 0 50px;
}
.mobile_wrapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile_wrapp .mobile_img {
  max-width: 550px;
  position: relative;
  left: -150px;
}
.mobile_wrapp .mobile_descr {
  max-width: 530px;
}
.mobile_wrapp .mobile_descr h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
}
.mobile_wrapp .mobile_descr p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17.9792px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: rgba(61, 61, 63, 0.7);
  margin-top: 30px;
  margin-bottom: 30px;
}
.mobile_wrapp .mobile_descr .mobile_google {
  margin-right: 13px;
}

.clients {
  background-color: rgba(205, 233, 255, 0.3);
  padding: 120px 0 87px;
  position: relative;
}
.clients h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.02em;
  color: #3D3D3F;
  text-align: center;
}
.clients .clients_item {
  padding: 22px 17px 32px 48px;
  background-color: #FAFAFA;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
  position: relative;
  margin-top: 93px;
  min-height: 370px;
  box-sizing: border-box;
}
.clients .clients_item .clients_icon {
  position: absolute;
  right: 41px;
  top: 0;
  transform: translateY(-35%);
  width: 40px;
  height: 40px;
  background-color: #47C2FF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients .clients_item .clients_icon img {
  width: 50%;
  display: block;
}
.clients .clients_item .clients_img {
  max-width: 63px;
  margin: 0 auto 5px;
}
.clients .clients_item .clients_img img {
  width: 100%;
  display: block;
}
.clients .clients_item .clients_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding-right: 22px;
}
.clients .clients_item .clients_name .name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #3D3D3F;
}
.clients .clients_item .clients_name .stars {
  color: #FF9000;
}
.clients .clients_item .clients_city {
  background: linear-gradient(90.26deg, #47C2FF 0.21%, rgba(99, 203, 254, 0.65) 97.38%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 16px;
}
.clients .clients_item .review {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #454D5D;
}
.clients .owl-carousel .owl-nav {
  display: inline-block;
}
.clients .owl-carousel .owl-nav .owl-prev {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(154, 208, 255, 0.4);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  top: 50%;
  left: -100px;
  color: #40A3F8;
}
.clients .owl-carousel .owl-nav .owl-prev:active {
  background-color: #40A3F8;
  transition: 0.3s;
}
.clients .owl-carousel .owl-nav .owl-prev:active:before {
  color: #FFFFFF;
}
.clients .owl-carousel .owl-nav .owl-prev:before {
  content: "\f053";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  display: block;
  color: #40A3F8;
}
.clients .owl-carousel .owl-nav .owl-next {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  background-color: rgba(154, 208, 255, 0.4);
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  top: 50%;
  right: -100px;
  color: #40A3F8;
}
.clients .owl-carousel .owl-nav .owl-next:active {
  background-color: #40A3F8;
  transition: 0.3s;
}
.clients .owl-carousel .owl-nav .owl-next:active:before {
  color: #FFFFFF;
}
.clients .owl-carousel .owl-nav .owl-next:before {
  content: "\f054";
  font-family: "Font Awesome 6 Free", sans-serif;
  font-weight: 900;
  display: block;
  color: #40A3F8;
}

.subscribe {
  padding: 120px 0;
  background-color: rgba(205, 233, 255, 0.3);
}
.subscribe_wrapper {
  background-color: #40A3F8;
  border-radius: 12px;
  padding-left: 145px;
  display: flex;
  align-items: center;
  min-height: 340px;
  position: relative;
}
.subscribe_wrapper .subscribe_text {
  max-width: 420px;
}
.subscribe_wrapper .subscribe_text h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 21px;
}
.subscribe_wrapper .subscribe_text .subscribe_btn {
  background-color: #FFFFFF;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  max-width: 205px;
  text-align: center;
  padding: 16px;
}
.subscribe_wrapper .subscribe_text .subscribe_btn a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #40A3F8;
  text-decoration: none;
}
.subscribe_wrapper .subscribe_img {
  max-width: 500px;
  position: absolute;
  right: 0;
  bottom: -5px;
}

footer {
  padding: 34px 0 95px;
  position: relative;
}
footer:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #969696;
  display: block;
  margin-top: 30px;
}
footer .footer_wrapper {
  display: flex;
}
footer .footer_wrapper .footer_inform {
  margin-right: auto;
}
footer .footer_wrapper .footer_inform .inform_address {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  margin-bottom: 16px;
}
footer .footer_wrapper .footer_inform .inform_tel {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  margin-bottom: 16px;
}
footer .footer_wrapper .footer_inform .inform_tel a {
  text-decoration: none;
  color: #646464;
}
footer .footer_wrapper .footer_inform .inform_soc {
  display: flex;
}
footer .footer_wrapper .footer_inform .inform_soc a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #646464;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  margin-right: 16px;
}
footer .footer_wrapper .footer_menu_row {
  display: flex;
}
footer .footer_wrapper .footer_menu_row .footer_menu {
  margin-right: 115px;
}
footer .footer_wrapper .footer_menu_row .footer_menu h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
}
footer .footer_wrapper .footer_menu_row .footer_menu .menu_items {
  list-style: none;
}
footer .footer_wrapper .footer_menu_row .footer_menu .menu_items li {
  margin-top: 24px;
}
footer .footer_wrapper .footer_menu_row .footer_menu .menu_items li .menu_item {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
footer .footer_wrapper .menu_sub h2 {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 19px;
}
footer .footer_wrapper .menu_sub p {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: #646464;
  margin-bottom: 16px;
}
footer .footer_wrapper .menu_sub form {
  max-width: 292px;
}
footer .footer_wrapper .menu_sub form .menu_email {
  width: 100%;
  border: 1.1px solid #E1E2E4;
  text-align: left;
  padding: 12px 12px 12px 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  outline: none;
  margin-bottom: 12px;
}
footer .footer_wrapper .menu_sub form .menu_btn {
  width: 100%;
  background: #40A3F8;
  border: 1.1px solid #E1E2E4;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  padding: 12px 0 12px;
}
footer .footer_bottom {
  background-color: rgba(205, 233, 255, 0.3);
  padding: 10px 0 45px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
footer .footer_bottom .container {
  display: flex;
  justify-content: space-between;
}
footer .footer_bottom .container .footer_author {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}
footer .footer_bottom .container .footer_privacy {
  display: flex;
}
footer .footer_bottom .container .footer_privacy a {
  text-decoration: none;
  margin-left: 53px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #646464;
}

/*# sourceMappingURL=style.css.map */
